<template>
    <style media="screen">
        @keyframes window-open {
            0% {
              transform: scale3d(0, 0, 0);
            }

            25% {
              transform: scale3d(1.1, 1.1, 1.1);
            }

            50% {
              transform: scale3d(0.9, 0.9, 0.9);
            }

            75% {
              transform: scale3d(1.05, 1.05, 1.05);
            }

            100% {
              transform: scale3d(1, 1, 1);
            }
        }

        @keyframes window-close {
            to {
                transform: scale3d(0, 0, 0);
            }
        }

        :host([type="default"]) {
            position: absolute;
            height: 400px;
            width: 600px;
            left: 0px;
            top: 0px;
            background-color: #ccc6c6;
            border-radius: .5rem;
            box-shadow: .1rem .1rem .7rem rgba(0,0,0,.5);
            display: flex;
            flex-direction: column;
        }

        :host([type="default"].blured) .windowTitle {
            filter: grayscale(80%) blur(.5px);
        }

        :host([type="default"].enter) {
            animation: window-open .3s ease-in-out 1;
        }

        :host([type="default"].leave) {
            animation: window-close .3s ease-in-out 1;
        }

        .windowTitle {
            position: relative;
            padding: 15px;
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

        .windowTitle:active {
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }

        .windowTitle .title {
            align-items: center;
            justify-content: center;
            display: flex;
            left: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            font-size: 1.4rem;
            transform: translateX(-50%);
        }

        .windowTitle .action {
            border-radius: 50%;
            height: 1em;
            width: 1em;
            font-size: 13px;
            display: inline-block;
            margin-right: .3rem;
            position: relative;
        }

        .windowTitle .action.close {
            background-color: red;
        }

        .windowTitle .action.hide {
            background-color: orange;
        }

        .windowTitle .action.max {
            background-color: limegreen;
        }

        .windowTitle .action.close:hover::after {
            position: absolute;
            left: 1.5px;
            top: 1.5px;
            content: 'close';
            font-size: 10px;
            display: block;
            height: 1em;
            width: 1em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            font-family: 'Material Icons';
            line-height: 1;
            font-weight: 600;
        }

        .view-port-container {
            flex: 1 1 auto;
            position: relative;
            overflow: auto;
            margin: 0;
        }
    </style>

    <div class="windowTitle" bind-event(mousedown)="view._onWindowGrab" bind-event(mouseup)="view._onWindowDrop">
        <div class="title"><slot name="title"></slot></div>
        <div class="actions">
            <span class="action close" bind-event(click)="view._onWindowClose"></span>
            <span class="action hide" bind-event(click)="view._onWindowMinimize"></span>
            <span class="action max"  bind-event(click)="view._onWindowMaximize"></span>
        </div>
    </div>
    <div class="view-port-container">
        <slot></slot>
    </div>
</template>
