<template>
    <style>
        :host {
            font-family: 'Material Icons';
            height: 1em;
            width: 1em;
            line-height: 1;
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: middle;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

    {{view.name}}
</template>
