<template>
    <style media="screen">
        .view-port[scope-name="default"] {
            background-color: black;
        }
    </style>

    <window-manager>
        <template bind-repeat="window in view.windowList">
            <application-window
                bind-attr(height)="window.dimension.height"
                bind-attr(width)="window.dimension.width"
                bind-attr(top)="window.position.y=move"
                bind-attr(left)="window.position.x=move"
                bind-attr(type)="window.type"
                bind-attr(orientation)="window.side"
                bind-event(close)="Handoff(view.closeWindow, window.viewId)"
                bind-event(minimize)="Handoff(view.minimizeWindow, window.viewId)"
                bind-event(maximimize)="Handoff(view.maximizeWinow, window.viewId)"
                bind-attr(blocking)="window.blocksScreen"
                bind-attr(order)="window.zIndex"
                bind-class="{ !blured: view._not(window.hasFocus) }"
                bind-event(click)="Handoff(view.focusWindow, window.viewId)">
                <span slot="title">{{window.name}}</span>
                <encapsulated-content bind-attr(content)="getView(window.contentViewId)"></encapsulated-content>
            </application-window>
        </template>
    </window-manager>
</template>
