<template>
    <style media="screen">
        :host([type="workSpaceBorderTool"]) {
            display: block;
            position: absolute;
        }

        :host([type="workspaceBorderTool"][orientation="left"]) {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        :host([type="workspaceBorderTool"][orientation="top"]) {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        ::slotted(encapsulated-content) {
            overflow: visible;
        }
    </style>

    <slot></slot>
</template>
