<style media="screen">
    .window.workspace-border-tool[orientation="left"] {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .window.workspace-border-tool[orientation="top"] {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

<div class="window workspace-border-tool" style="z-index: {{_getZIndex()}}"
     bind-display="isVisible()" orientation="{{side}}"
     bind-style="{dimensions.left: position.x, dimensions.top: position.y,
                 dimensions.height: dimension.height, dimensions.width: dimension.width}">
    <view-port scope-name="{{id}}"></view-port>
</div>
