<template>
    <style media="screen">
        :host {
            display: block;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            height: 100%;
            width: 100%;
            overflow: auto;
        }

        .file-manager-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .fileGrid {
            display: flex;
            flex: 1 1 100%;
            background-color: #f0f0f0;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            overflow: auto;

            display: grid;
            grid-template-columns: repeat(auto-fit, 120px);
            grid-auto-rows: max-content;
            overflow-x: hidden;
        }

        .fileGrid .item {
            padding: 1rem 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            flex: 1 0 120px;
        }

        .fileGrid .file {
            height: 1em;
            width: 1em;
            font-size: 6rem;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .fileGrid .file.dirType {
            background-image: url('./userSpace/theme/folder.svg');
            cursor: pointer;
        }

        .fileGrid .file.fileType {
            background-image: url('./userSpace/theme/type-file.svg');
        }

        .fileGrid .name {
            font-size: 1.3rem;
            text-align: center;
            word-break: break-all;
            margin-top: .7rem;
        }

        .toolbar-icon {
            font-size: 3rem;
            height: 1em;
            width: 1em;
            color: #4d4848;
            cursor: pointer;
        }

        .toolbar-icon[disabled] {
            pointer-events: none;
            color: rgba(77, 72, 72, 0.37);
        }

        .toolbar-icon:hover {
            color: #2c78b9;
        }
    </style>

    <div class="file-manager-container">
        <div class="toolbar">
            <div class="material-icons toolbar-icon"
                bind-event(click)="Handoff(view.goBack)"
                bind-enabled="view.history.canGoBack">arrow_back</div>
            <div class="material-icons toolbar-icon"
                bind-event(click)="Handoff(view.goForward)"
                bind-enabled="view.history.canGoForward">arrow_forward</div>
        </div>
        <div class="fileGrid">
            <template bind-repeat="item in view.currentDir">
                <div class="item" bind-event(click)="Handoff(view.openDir, item.viewId)">
                    <div class="file {{item.classes}}"></div>
                    <div class="name">{{item.name}}</div>
                </div>
            </template>
        </div>
    </div>
</template>
