<style media="screen">
    .window.mainWindow {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div>
    <h3 style="text-align: center;">SystemJS v0.1</h3>
    <p>Wellcome to SystemJS version 0.1. This is the very first version of SystemJS.</p>
    <p>
        In this version I was amiming for a basic proof of concept. Here you see the current main application, the workspace.
        Later it will be possible to display more applications on this workspace and it will contain additional features.
    </p>
    <p>
        I'm glad you checked out my project. If you're interested in more,
        feel free to have a look at the <a href="//github.com/TitanNanoDE/SystemJS">Repository</a>
    </p>
</div>
